.champs {
    font-size: larger;
    color: purple;
}
.items {
    font-size: larger;
    color: aqua;
}
.carousel-item img {
    margin: auto;
    width: 15%!important;
    
}
.pink {
    background-color: pink;
}
.green {
    background-color: green;
}
.blue {
    background-color: blue;
}